<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/appointment">
    <input type="text" name="pet_name">
    <input type="datetime-local" name="date">
    <select name="service_type">
        <option value="banho">Banho</option>
        <option value="tosa">Tosa</option>
    </select>
    <button type="submit">Agendar</button>
</form>

</body>
</html>